@font-face{
    font-family:"JFFlatRegular";
    src:url("../fonts/JFFlatRegular.ttf");
}

img{
    width:100%;
}
a{
 text-decoration: none;   
}
a:hover{
    color:black
}
:root{
    --main-color:#82CFEF;
    --font-color:#222A41;
    --font-famiy:"JFFlatRegular";
    --sub-font-color:#9FA3AB;
    --shadow-color:rgba(130, 207, 239, .1);
    --shadow-hover-color:rgba(130, 207, 239, .15);
}
.mainBtn{
    line-height: 42px;
    height:60px;
    width:180px;
    border-radius: 25px;
    background-color: var(--main-color);
    border:1px solid var(--main-color);
    transition: all .5s;
    font-size:1.3333333333333333em;
    font-weight: bold;
    color:white;
}
button:focus{
    outline: 0;
    box-shadow: none;
    border: 0;;
}
.btn:hover{
    background-color: transparent;
    color:var(--main-color);
    transition: all .5s;;
}

p{
    font-size:1.3333em;
    color:var(--sub-font-color)

}
header{
    position:fixed;
    top: 0;
    width:100%;
    height: 90px;
    padding-top:55px;
    z-index: 9999999;
}
ul{
    padding:0;
    margin:0;
}
a:hover{
    text-decoration: none;
}
ul li{
    list-style-type: none;
}
body{
     font-size: 16px;
    background-color: #fff;
    position: relative;
    direction: rtl;
    text-align: right;
    font-family:var(--font-famiy);
    color:var(--font-color);
overflow-x: hidden;
}
.hero{
    position: relative;
    margin-top:150px;
    padding-bottom: 150px;;
}
.heroBG{
position: absolute;
left: 0;
top: 0;
width:100%;

z-index: -1;
}

.doctorSlider .owl-stage-outer{
    overflow: visible;
}
.heroSlider .owl-dots{
    width:100%;
    position: absolute;
    bottom:-10%;
    right:0;
}

.owl-item {
    opacity: 0;
    transition: opacity .5s;
 }
.owl-item.active {
   opacity: 1;
 }

.heroImg{
    width:100%;
    position: relative;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;
    overflow: hidden;
}
.heroSquers{
    margin-top:25px;
}
.heroSquers .squre{
    width:30px;
    height: 30px;
    margin-right:10px;
}
.heroItem{
    position: relative;
}
.heroImgBorder{
    width:100%;
    height:100%;
    border:6px solid var(--main-color);
    position: absolute;
    top:-5px;
    left:-5px;
    border-bottom-left-radius: 70px;
    border-top-right-radius: 70px;;
    overflow: hidden;
    content: "";
    z-index: 11;
}
.navbar-brand.logo{
 float:none;
 width:90px;
 margin-left:80px;
 color:white;
 font-size:30px;
 margin-right:0;
}

.navbar-expand-lg .navbar-nav{
    width:70%;
}

.navbar-expand-lg .navbar-nav .nav-item{
    padding:10px 15px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    font-size:1.3em;
    padding:0;
    color:#696E77;
    opacity:.7;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:before{
    position: absolute;
    content: "";
    width:0;
    bottom:-10px;
    right:0;
    transition: all .5s;;
    background-color: #E25735;
    height: 3px;
    border-radius: 2px;;

}

.navbar-expand-lg .navbar-nav  .nav-item.active .nav-link{
    color:#E25735;
    opacity: 1;
    font-weight: bold;
}
.navbar-expand-lg .navbar-nav  .nav-item.active .nav-link::before{
    width:50%;
    transition: all .5s;;
}

.navbar {
    padding:0;
}
.contactHeader{
    float: left;
}
.contactHeader span,.contactHeader i{
    color:#696E77;
    font-size: 1.3em;
    float: right;
}
.squre {
    width:100px;
    height: 30px;
    background-color: var(--main-color);
    margin:0;
    margin-right:20px;
    display: inline-block;
}
.contactHeader i{
 transform: rotate(-21deg);
}

.heroText{
    margin-top:70px;
    position: relative;
    z-index: 99;
}
.heroText h5{
    font-size :2.8em;
    color:var(--main-color);
}
.location i{
    color:var(--main-color);
    font-size:18px;
    margin-left:8px;
}
.location{
    margin-top:35px;
    font-weight: bold;
    margin-bottom:25px;
    color:var(--sub-font-color);
    display: block;
    cursor: pointer;
}
.location span{
    color:#E25735;
}
.sectionTitle{
    margin-bottom: 70px;;
}
.sectionTitle h4{
margin-bottom:15px;
font-size:2.111111111111111em;
font-weight: bold;
color:black;
}
.services{
    padding-top:150px;
    padding-bottom: 100px;;
}
.serviceBox{
    border-radius: 15px;
    box-shadow:0 3px 6px var(--shadow-color);
    padding:93px 20px;
    text-align: center;
    transition: all .5s;;

}
.serviceBox:hover{
    box-shadow: 0 60px 99px var(--shadow-hover-color);
    transition: all .5s;;
}
.serviceBox:hover h3{
    color:var(--main-color);
    transition: all .5s;;

}
.serviceIcon{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color: var(--main-color);
    margin:auto;
    margin-bottom:30px;
    padding:20px;
}
.serviceIcon img{
    max-width: 90%;;
}
.serviceBox h3{
    font-size:1.5em;
    color:black;
    font-weight: bold;
    margin-bottom:15px;;
}
.advs{
    padding-top:150px;
    padding-bottom:70px;
}
.advImg{
    width:100%;
    height:580px;
    border-radius: 15px;
    overflow: hidden;
}
.advImg img{
    width:auto;
    height: 100%;;
}
.advantegesText .sectionTitle{
    margin-bottom:50px;
}
.advIcon{
    width:80px;
    height:85px;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow:  0 0 50px var(--shadow-color);
    float:right;
    margin-left:16px;
    display: flex;
    padding: 15px;
}
.advIcon img{
display: flex;
align-self: center;
}
.advList li{
    margin-bottom:30px;
}
.advList li:last-child{
    margin-bottom: 0;;
}
.advDetails{
    width:80%;
    float:right;
}
.advDetails h4{
    font-size:1.28em;
    color:black;
    font-weight: bold;

}
.advDetails p{
    font-size: 1em;
    max-height:100px;
    overflow: hidden;
}
.Doctors{
    padding-top:70px;
    padding-bottom: 60px;;
}
.doctorBox{
    width:100%;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 60px 99px var(--shadow-hover-color);
    background-color: white;
    height:450px;
}
.doctorSlider .owl-dots{
    position: absolute;
    width:100%;
    bottom:-10%;
    text-align: center;
}
.doctorSlider .owl-dots .owl-dot{
    width:15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--main-color);
    opacity: .35;
    margin:8px;
}
.doctorSlider .owl-dots .owl-dot.active{
width:30px;
border-radius: 8px;
opacity: 1;
}
.doctorSlider .owl-nav{
    position: absolute;
    top:-28%;
    width:100%;
    left:0;
    text-align: left;
}
.doctorSlider .owl-nav button.owl-prev,.doctorSlider .owl-nav button.owl-next{
    width:60px;
    height:45px;
    background-color: transparent;
    border-radius: 5px;
    text-align: center;
}
.doctorSlider .owl-nav button.owl-prev span,.doctorSlider .owl-nav button.owl-next span{
font-size:38px;
color:var(--main-color);
line-height: 30px;;
}
.doctorSlider .owl-nav button.owl-prev:hover,.doctorSlider .owl-nav button.owl-next:hover{
background-color: var(--shadow-hover-color);
}
.doctorImg{
width:100%;
height:80%;
overflow: hidden;
}
.doctorImg img{
    width:auto;
    height: 100%;;
}
.doctorDetails{
    padding:15px;
    text-align: center;
}
.doctorDetails h4{
font-size:1.3em;
color:black;
font-weight: 600;
}
.doctorDetails p{
    font-size:1.1em
}

.contactUs{
padding-top:60px;
}
.contactForm .form-group{
    margin-bottom:25px;
    width:48.6%;
    display: inline-block;
}
.marginFormGroup{
    margin-left:25px;
}
.contactForm .form-control{
    background-color:var(--shadow-color);
    border-radius: 15px;
    height:60px;
    font-size: 1.2222222222222223em;
    border:0;
    color:#696E77;
    opacity:.7;    
}
.contactForm .form-control::placeholder{
    font-size: 1.2222222222222223em;
    color:#696E77;
    opacity:.7;    
}
.contactForm .form-group.textareaFormGroup{
    width:100%;
    
}
.contactForm textarea.form-control{
    height:170px;
    resize: none;
    width:100%;
}
.sendBtn{
    margin-top:25px;
    display: block;
    float: left;
    width:280px;
    border-radius: 15px;;
}

footer{
    padding:30px 0;
}
.socialIcons{
    float: right;
    width:50%;
}
.socialIcons li{
    display: inline-block;
    width:35px;
    height:35px;
    border-radius: 50%;
    background-color:#696E77;
    border:1px solid #696E77;
    margin-left:15px;
    text-align: center;
    transition: all .5s;

}
.socialIcons li a{
    color:white;
font-size:16px;
}
.socialIcons li i{
    line-height: 30px;
}
.socialIcons li:hover{
    background-color:transparent;
    transition: all .5s;
}
.socialIcons li:hover a{
    color:#696E77;
}
.copyRights{
    padding-top:20px;
border-top:1px solid var(--shadow-hover-color)
}
.contactForm p{
    font-size:1.6111111111111112em;
    color:var(--font-color);
    margin-bottom:70px;
    text-align: center;
}
.copyRights h3{
    font-size:1em;
    color:var(--sub-font-color);
    float:left
}

.footersocial li{
    background-color: var(--main-color);
    text-align: center;
}
.footersocial li a{
    color:white;
}

.scrollNav {
    top: 0 !important;
    z-index: 999999999999;
    animation-duration: .5s;
     background-color: white;
    position: fixed !important;
    box-shadow: rgba(0, 0, 0, 0.1) 2px 3px 20px 3px;
    transition: 1s all;
    left: 0;
    width:100%;
    right:0;
    padding:10px 0;
    transition: all .5s;;
    animation:sticky;
    height:90px;
    padding-top:20px;
}
.scrollNav .navbar-brand.logo{
    width:65px;
}
.fa-phone{
    transform: rotate(96deg);
}
.modal{
    z-index: 99999999999999;
}
.modal-dialog{
    max-width:85%;
    border-radius: 15px;

        }
        .modal-content{
            border-radius: 15px;
            padding:50px 30px
        }
        .modal-body{
            text-align: center;
        }
        .modal-body h3{
            color:var(--main-color);
            font-size:2.111111111111111em;
        }
        .modal .contactForm{
            margin-top:50px;
        }
@media(min-width:300px) and (max-width:767px){
    section{
        padding-top:50px !important;
        padding-bottom:50px !important;
        margin:0 !important
    }
    .navbar-expand-lg .navbar-nav{
        width:100%;
    }
    body{
        font-size:12px
    }
    .owl-carousel .owl-stage-outer{
    overflow: hidden;
}
.navbar-brand.logo{
    margin-left:0;
    color:var(--main-color)
}
    .hero{
        padding:20px 0;
    }
header{
    padding-top:0;
    height: auto;
    left:0;
    right:0;
}
.scrollNav{
    height: auto;
}

    .navbar-expand-lg .navbar-nav .nav-link:before{
        display:none;
    }


    .socialIcons{
      float: none;
      width:100%;
    }
    .heroText{
        margin-top: 0px;
    }
    button.navbar-toggler {
        position: relative;
        border: none;
        height: 40px;
        width:50px;
        cursor: pointer;
        border-radius: 0;
        opacity: .7;
        border:1px solid var(--main-color);
        text-align: center;
    }
    .mobileMenu i{
        background-color: var(--main-color);
        border-radius: 2px;
        content: '';
        display: block;
        width: 95%;
        height: 3px;
        margin-bottom:5px
    }
    .mobileMenu i:last-child{
    margin-bottom: 0;;
    }
.heroBG{
    display: none;
}
    .navbar{
        width:100%;
        margin-bottom:20px;
    }
    .nav-link{
        margin-bottom:10px;
        margin-top:10px;
    }
    .navbar{
        width:100%;
        margin-top:20px;
    }

.btn{
    width: 100%;;
}
.advImg{
    height: auto;
}
.advImg img{
    height: auto;
    width:100%;
}
.navbar-collapse{
    background-color: white;
    width:100%;
    ;
}
.heroItem{
    margin-top:20px;
}
.contactHeader{
    float: none;
}
.serviceBox{
    margin-bottom: 20px;;
}
.advIcon {
    width: 50px;
    height: 60px;}
    .contactForm .form-group{
        width:100%;

    }
    .marginFormGroup{
        margin: 0;;
    }
    .copyRights h3{
        float: none;
        margin-top:30px;
    }

}
@media(min-width:768px) and (max-width:1023px){
    section{
        padding-top:100px !important;
        padding-bottom:50px !important;
        margin:0 !important
    }
    .navbar-expand-lg .navbar-nav{
        width:auto;
    }
    body{
        font-size:13px
    }
    .navbar-brand.logo{
        margin-left:7px;
        width:70px;
    }
    .squre {
        width: 81px;}
.owl-carousel .owl-stage-outer{
overflow: hidden;
}
footer{
    padding:20px 0;
}
    .hero{
        padding:20px 0;
    }
  
    .navbar-expand-lg .navbar-collapse{
        display: flex;
        flex-basis: auto;
         }
        .navbar-toggler{
        
            display: none;
         } 
    .navbar{
        width:100%;
        margin-top:20px;
    }
         .navbar-nav {
            display: -ms-flexbox;
            display: flex;}
            .navbar-expand-lg .navbar-nav {
                -ms-flex-direction: row;
                flex-direction: row;
            }
    

header{
    padding-top:0;
}

.scrollNav .navbar-brand.logo{
    width:50px;
}
.scrollNav{
    padding:10px 0;
    height: 90px;
    padding-top: 0;;
}
.aboutImg{
    height: auto;;
}

.sectionTitle h4{
    font-size: 3em;
}
.sectionTitle{
    margin-bottom:10px;
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 10px;
}
.heroSection{
    padding-top:0;
}
.advIcon {
    width: 66px;
    height: 72px;}
    .advList li{
        margin-bottom:15px;
    }
    .advImg{
        height: auto;
    }
    .advImg img{
        height: auto;
        width: 100%;;
    }
    .advantegesText .sectionTitle {
        margin-bottom: 10px;
    }
    .contactForm .form-group{
        width:47.6%;
    }
        }

@media(max-width:1200px){
    .owl-carousel .owl-stage-outer{
        overflow: hidden;
        }
        .contactForm .form-group{
            width:48.4%;
        }
    
}